#!/bin/ksh

daemon="/usr/local/bin/opentracker"
daemon_flags="-f /etc/opentracker.conf"
daemon_user="_opentracker"

. /etc/rc.d/rc.subr

rc_start() {
	rc_exec "${daemon} ${daemon_flags} &"
}

rc_cmd $1
